<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663414398790-c4grc3385fbar8ddttrhk4sp3t4u2ehe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663414398790-c4grc3385fbar8ddttrhk4sp3t4u2ehe</string>
	<key>API_KEY</key>
	<string>AIzaSyALytjza7WbCeXCuE3Gpks-TcjNpZc03FY</string>
	<key>GCM_SENDER_ID</key>
	<string>663414398790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swipify</string>
	<key>PROJECT_ID</key>
	<string>smartbez</string>
	<key>STORAGE_BUCKET</key>
	<string>smartbez.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663414398790:ios:a36b543f5941b115180f47</string>
	<key>DATABASE_URL</key>
	<string>https://smartbez-default-rtdb.firebaseio.com</string>
</dict>
</plist>